:root {
  --color-body: #434455;
  --brand-color: #ffffff;
  --color-logo: #4d5ae5;
  --color-text: #2e2f42;
  --color-contacts: #434455;
}
body {
  font-family: "Roboto", sans-serif;

  background-color: var(--brand-color);
  color: var(--color-body);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.item {
  list-style: none;
  text-decoration: none;
}

/* header */

/* logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo);
}

.logo-tip {
  color: var(--color-text);
}

/* navigation */

.list-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

/* address */

.list-nav .link:hover,
.list-nav .link:focus {
  color: #404bbf;
}

.address-contact .link:hover,
.address-contact .link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-contact {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-contacts);
}
